*{
    margin: 0px;
}
#container, #panel{
}

#panel {
    width: 700px;
    height: 550px;
    margin: auto;
    border: 2px solid lightblue;
    border-radius: 10px;
    position: absolute;
    left: 20%;
    top: 15%;
}


#input-form{
    width: 600px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
}