<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Influencer Sponsorship Platform</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="container">
        <h1 class="text-center">Dashboard</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Welcome {{name}}</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/influ/{{name}}">Ad requests <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/influ/{{name}}/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/influ/{{name}}/search">Search for Campaigns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="ad-requests-table">
            <h3>Ad Requests:</h3>
            {% if ad_requests %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Sponsor</th>
                        <th>Campaign</th>
                        <th>Requirements</th>
                        <th>Pay</th>
                        <th>Status</th>
                        <th>Accept</th>
                        <th>Reject</th>
                    </tr>
                </thead>
                <tbody>
                    {% for adreq in ad_requests %}
                    <tr>
                        <td>{{adreq[0]}}</td>
                        <td>{{adreq[1]}}</td>
                        <td>{{adreq[2]}}</td>
                        <td>{{adreq[3]}}</td>
                        <td>₹{{adreq[4]}}</td>
                        <td>{{adreq[5]}}</td>
                        <form action="/influ/{{name}}/{{adreq[0]}}/Accepted" method="post">
                            <td>
                                <textarea style="height: 150px;" class="form-control" id="response" name="response" placeholder="Enter response here"></textarea>
                                <button class="btn btn-success" type="submit">Accept</button>
                            </td>
                        </form>
                        <form action="/influ/{{name}}/{{adreq[0]}}/Rejected" method="post">
                            <td>
                                <textarea style="height: 150px;" class="form-control" id="response" name="response" placeholder="Enter response here"></textarea>
                                <button class="btn btn-danger" type="submit">Reject</button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="error">You haven't gotten any ad requests yet!!</p>
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function openacceptManageModal() {
            $('#acceptmanageModal').modal('show');
        }
        function openrejectManageModal() {
            $('#rejectmanageModal').modal('show');
        }
    </script>
</body>
</html>
